@tailwind base;
@tailwind components;
@tailwind utilities;

.str-chat {
  height: auto !important;
}

.str-chat__list .str-chat__reverse-infinite-scroll {
  padding-top: 0px !important;
}

.str-chat__li.str-chat__li--top {
  margin: 0;
}

@media screen and (max-width: 960px) {
  .str-chat-channel-list.team {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    z-index: 0 !important;
    min-height: 0vh !important;
    overflow-y: auto !important;
    box-shadow: none !important;
    transition: 0 !important;
  }
}

.str-chat-channel {
  height: 100vh !important;
}

@media screen and (max-width: 600px) {
  .str-chat__input-flat .str-chat__textarea > textarea {
    line-height: 16px !important;
    padding: 20px 49px 12px 67px !important;
    font-size: 0.8em !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
